@model IEnumerable<eczanesepeti2.Models.Ilac>
@{
    ViewData["Title"] = "Home Page";
}

<br />

@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                @foreach (var item in Model)
                {
                 <div class="@(item.Id == 1 ? "carousel-item active" : "carousel-item")">
                     <img src="@item.Foto" class="d-block w-100" >

                 </div>
                }
                 </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Önce</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Sonra</span>
        </a>

    </div>*@
<img src="https://cdn.discordapp.com/attachments/878373174935449600/1011714543291994142/nobetci-eczaneler.jpg" style=" max-width:100%;height: auto;">

<div class="container">
    <div class="row">
        <h1 class="lead">2022'den beri...</h1>
        <p class="tagline"></p>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
